@import "./vendor/fonts.css";
:root{
    --bg-color: #FFFFFF;
    --link-color  :#3369F3;
    --error-color: #FF2F2F;
    --title-color:#1E1E1E;
    --bg-color-opacity:#EFEFEF;
    --color-text-msj:#999999;
    --chatbox-hover: #E4EDFD;
    --chat-msj-rem-bg: #F8F8F8;
    --chat-msj-personal-bg:#E4EDFD;
    --border-profile:#EAEAEA;
    
}
*, *::before, *::after {
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
body {
  font-family: "Inter";
  background-color: var(--bg-color);
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

